.box0 {
    background: #df2dd0;    
}

.box1 {
    background: #2ddf5c;
    padding: 40px;
    
}

.box2 {
    background: #ff1b68;   
    border: 40px solid orange;
}

.box3 {
    background: #721bff;   
    margin: 40px;
}